services:
  backend:
    container_name: vulnerable-app
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/app/src
      - ./public:/app/public
    ports:
      - "11011:11011"
    networks:
      - testnet

networks:
  testnet:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1000