services:
  backend:
    container_name: vulnerable-app
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/app/src
      - ./public:/app/public
    ports:
      - "11011:11011"