services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/app/src
      - ./public:/app/public
    networks:
      - testnet
  nginx:
    container_name: playground-nginx
    image: nginx:latest
    volumes:
      - ./configs/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8081:80"
    depends_on:
      - backend
    networks:
      - testnet

networks:
  testnet:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1000